@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
 
  font-family: "Lato", serif;
  font-weight: 400;
  font-style: normal;
 
}

.app-container{
  min-height: 100vh;
  background-image: url("https://cdn.pixabay.com/photo/2024/06/21/15/18/road-8844555_1280.jpg");
  background-size: cover;

  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  padding: 40px 10px;
  gap: 20px;

}
.situation{
  border: 2px solid #fff;
  padding: 5px 10px;
  border-radius: 10px;
  background-color: #000;
  font-size: 12px;
}

.time{
  color: #fff;
  font-size: 11px;
}
@media screen and (min-width:400px){
  .time{
    font-size: 15px;
    
  }
}
.weather-card{
  width: 100%;
  max-width: 700px;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(20px);
  background-color: #ffffff7c;
  padding: 20px 0px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
 
}
@media screen and (max-width:400px){
  .weather-card{
    gap: 5px;
  }
  
}
.search-container{
  width: 90%;
  max-width: 500px;
  display: flex;
}
.search-container input{
  width: 80%;
  margin-right: 10px;
  padding: 10px 14px;
  border-radius: 10px;
  border: 2px solid #fff;
  background-color: transparent;

  
}
.search-container button{
  padding: 10px 24px;
  border-radius: 10px;
  
  background-color: #fff;
  color: #000;
  border: none;
  cursor: pointer;
}
.weather-icon{
  height: 150px;
}
.other-details-container{
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin-top: 50px;
}
.temperature{
  font-size: 90px;
  color: #fff;
  font-weight: bold;
}
.city-name{
  color: #000;
  font-size: 60px;
  font-weight: bold;
}
h4{
  color: black;
  font-size: 15px;
  font-weight: bold;

}
span{
  color: #fff;
  font-size: 20px;
}
@media sceen and (min-width:400px){
  .speed{
    font-size: 20px !important;
  }
  h4{
    font-size: 33px !important;
  }
}